
@using BOS.StarterCode.Helpers;

@model dynamic;

@{
    ViewData["Title"] = "Edit User";
}

<script type="text/javascript">
    var Model=@JavaScriptConvert.SerializeObject(Model);
    Model.Role =@(JavaScriptConvert.SerializeObject(User.FindFirst(c => c.Type == "Role").Value.ToString()));
    @{
        var UserRole = User.FindFirst(c => c.Type == "Role").Value.ToString();
        var IsUserAllowed = UserRole.Contains("Admin");
        var rolesList = Model.RolesList;
        var UserId = User.FindFirst(c => c.Type == "UserId").Value.ToString();
        if (UserId == @Model.UserInfo.Id.ToString())
        {
            IsUserAllowed = false;
        }
    }
</script>
<partial name="~/Views/Shared/Navigation/NavigationMenu.cshtml" />
<main class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-3">Edit User</h1>
                <hr />
            </div>
            <div class="col-md-12">
                @{
                    @if (@Model.UserInfo != null)
                    {
                        <form>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="row">
                                        <div class="col-md-6 mt-3">
                                            <input type="hidden" id="hiddenEditUserId" value="@Model.UserInfo.UpdatedId" />
                                            <input type="hidden" id="hiddenEmailConfirmed" value="@Model.UserInfo.EmailConfirmed" />
                                            <div class="form-group position-relative">
                                                <label for="@Model.UserInfo.FirstName">
                                                    First Name <span style="color: red;">*</span>
                                                </label>
                                                <input type="text" id="editUserFirstName" class="form-control" placeholder="Enter First Name" value="@Model.UserInfo.FirstName" autocomplete="off" />
                                                <span id="spanFirstName" class="required_field"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-3">
                                            <div class="form-group position-relative">
                                                <label for="@Model.UserInfo.LastName">
                                                    Last Name <span style="color: red;">*</span>
                                                </label>
                                                <input type="text" id="editUserLastName" class="form-control" placeholder="Enter Last Name" value="@Model.UserInfo.LastName" autocomplete="off" />
                                                <span id="spanLastName" class="required_field"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt-3">
                                            <div class="form-group position-relative">
                                                <label for="@Model.UserInfo.Email">
                                                    Email Address <span style="color: red;">*</span>
                                                </label>
                                                <input type="email" id="email" class="form-control" placeholder="Enter Email Address" value="@Model.UserInfo.Email" autocomplete="off" />
                                                <span id="spanEmail" class="required_field"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt-3">
                                            <div class="form-group position-relative">
                                                <label for="@Model.UserInfo.Username">
                                                    Username <span style="color: red;">*</span>
                                                </label>
                                                <input type="text" id="editUserUsername" class="form-control" placeholder="Enter Username" value="@Model.UserInfo.Username" autocomplete="off" />
                                                <span id="spanUsername" class="required_field"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 mt-3">
                                            <div class="form-group position-relative">
                                                <input type="checkbox" id="editUserActiveStatus" checked="@Model.UserInfo.Active" /> Active <br />
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <div class="form-group position-relative" id="divRoleBase">
                                                <h4 class="mb-3"> Roles </h4>

                                                @{
                                                    @if (IsUserAllowed)
                                                    {
                                                        @foreach (var role in Model.AvailableRoles)
                                                        {
                                                            @if (rolesList.Contains(role.Name.ToString()))
                                                            {
                                                                <input type="checkbox" value="@role.Id" id="@role.Id" for="@role.Id" checked="checked" name="@role.Name" /> @role.Name <br />
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" value="@role.Id" id="@role.Id" name="@role.Name" /> @role.Name <br />
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @foreach (var role in Model.AvailableRoles)
                                                        {
                                                            @if (rolesList.Contains(role.Name.ToString()))
                                                            {
                                                                <input type="checkbox" value="@role.Id" id="@role.Id" for="@role.Id" checked="checked" name="@role.Name" disabled /> @role.Name <br />
                                                            }
                                                        }
                                                    }
                                                }
                                                <span id="spanRoles" class="required_field" style="top: 25px;"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary d-block w-100" onclick="UpdateUserInfo(); return false;">Update Information</button>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <a asp-action="Index">Back to Users List</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.ValidationMessage("CustomError")
                        </form>
                    }
                    else
                    {
                        <div>Something went wrong. Please try again.</div>
                    }
                }

            </div>
        </div>
    </div>
</main>
@{
    @Html.Hidden("IsUserAllowed", IsUserAllowed);
}

@if (ViewBag.Message != null)
{
    <script>
        $(document).ready(function () {
            $(function () {
                setTimeout(function () {
                    alert(@ViewBag.Message);
                 DisplayDialog({ Success: true, Message: '@ViewBag.Message' });
                }, 500);
            });
        });
    </script>
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $('#editUserFirstName').on('keyup', function () {
        if ($("#editUserFirstName")[0].value.length > 0) {
            $("#spanFirstName")[0].innerHTML = '';
        }
    });

    $('#editUserLastName').on('keyup', function () {
        if ($("#editUserLastName")[0].value.length > 0) {
            $("#spanLastName")[0].innerHTML = '';
        }
    });

    $('#email').on('keyup', function () {
        if ($("#email")[0].value.length > 0) {
            var isEmailValid = IsEmailValid($("#email")[0].value);
            if (!isEmailValid)
                $("#spanEmail")[0].innerHTML = "Incorrect email format";
            else
                $("#spanEmail")[0].innerHTML = '';
        }
    });

    $('#editUserUsername').on('keyup', function () {
        if ($("#editUserUsername")[0].value.length > 0) {
            $("#spanUsername")[0].innerHTML = '';
        }
    });
</script>
