@model dynamic;

@foreach (var module in Model)
{
    @if (module.ChildComponents.Count == 0)
    {
        if (@module.Code != "PRMNS")
        {
            <li id="@module.Id" parentmoduleid="@module.ParentId">
                <a asp-controller="Navigation" asp-action="NavigateToModule" asp-route-id="@module.Id" asp-route-code="@module.Code" asp-route-isdefault="@module.IsDefault">
                    <span>@module.Name</span>
                </a>
            </li>
        }
    }
    else
    {
        <li class="sidebar-dropdown">
            <a asp-controller="Navigation" asp-action="NavigateToModule" asp-route-id="@module.Id" asp-route-code="@module.Code" asp-route-isdefault="@module.IsDefault">
                <span>@module.Name</span>
            </a>

            <div class="sidebar-submenu" id="@module.Id" parentmoduleid="@module.ParentId">
                <ul>
                    @foreach (var submodule in module.ChildComponents)
                    {
                        <partial name="~/Views/Shared/Navigation/NavigationMenuItem.cshtml" model="@module.ChildComponents" />
                    }
                </ul>
            </div>

        </li>
    }
}
