@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
@{
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BOS.StarterCode</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

    <!--Custom BOS References-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/vanilla-styles.min.css" rel="stylesheet" />
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/popper.js/umd/popper.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png" />
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <!-- End Custom BOS References-->

    @{
        var hotJarValue = @Configuration.GetSection("Hotjar").Value;
        var googleAnalyticsValue = @Configuration.GetSection("GoogleAnalytics").Value;

        if (hotJarValue == "null" || hotJarValue == null)
        {
            hotJarValue = "";
        }

        if (googleAnalyticsValue == "null" || googleAnalyticsValue == null)
        {
            googleAnalyticsValue = "";
        }
    }

    @Html.Raw(hotJarValue)
    @Html.Raw(googleAnalyticsValue)

</head>
}

<body>
    <div class="page-wrapper BOS-theme toggled">
        <partial name="_CookieConsentPartial" />
        @RenderBody()
    </div>

    <div class="BOS_footer">
        <img src="../images/bos-full-tm@2x.png" onclick="window.open('https://bosframework.com','');" style="cursor: pointer" />
        <div class="powered_by" onclick="window.open('https://bosframework.com','');" style="cursor: pointer">Powered by</div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/customscripts/custom.js"></script>
    <script>

        $(document).ready(function () {
            $('body').click(function () {
                var applicationURL = '@Configuration.GetSection("PublicUrl").Value';

                var currentLocation = window.location.href;
                if (currentLocation.substring(currentLocation.length - 1) === "/") {
                    currentLocation = currentLocation.substring(0, currentLocation.length - 1);
                }

                if (currentLocation !== applicationURL && (currentLocation.indexOf("Auth") === -1 && currentLocation.indexOf("Password") === -1)) {
                    if ($("#display_infoconfirm").length === 0) {
                        $.ajax({
                            type: "GET",
                            url: "/Auth/HasSessionExpired",
                            dataType: "text",
                            success: function (response) {
                                if (response === "true") {
                                    DisplayInfoConfirmationDialog({
                                        Message: "Your Session has expired. You are required to login again. On confirming you will be redirected to the login page.",
                                        CallFrom: "BodyClick",
                                        OkData: { Label: "Okay", Data: null },
                                    });
                                }
                            },
                            failure: function (response) {
                                console.log(response.Message);
                            },
                            error: function (response) {
                                console.log(response.Message);
                            }
                        });
                    }
                }

            });
        });

        function DisplayDialog(dialogObj) {

            if ($('.alert-success').length && dialogObj.Success == true) {
                $("#display_message1").append('<br/>').append(dialogObj.Message);
            }
            else if ($('.alert-danger').length && dialogObj.Success == false) {
                $("#display_message1").append('<br/>').append(dialogObj.Message);
            }
            else {
                var dialog = '<div id="display_message1" class="alert ' + ((dialogObj.Success == true) ? 'alert-success' : 'alert-danger') + ' alert-dismissible fade show">'
                    + '<strong>' + ((dialogObj.Success == true) ? '' : '') + '</strong>  '
                    + ((dialogObj.Message !== '') ? dialogObj.Message : '')
                    + '<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>'
                    + '</div>';
                $("body").append($(dialog));
                setTimeout(function () {
                    $("#display_message1").remove();
                }, 8000);
            }
        };

        var ConfirmationObj = null;
        function DisplayConfirmationDialog(dialogObj) {
            ConfirmationObj = null;
            ConfirmationObj = dialogObj;
            var dialog = '<div id="display_message1" class="logout_div"> <div class="row"><div class="col-md-12 text-center mb-3" >'
                + ((dialogObj.Message !== '') ? dialogObj.Message : '') + '</div>'
                + '<div class="col-md-6 text-center"><button class="btn btn-warning" onclick="OnButtonClickedConfirmCancel(); return false;">'
                + dialogObj.CancelData.Label + '</button>'
                + '</div><div class="col-md-6 text-center"><button class="btn btn-primary" onclick="OnButtonClickedConfirmOk(); return false;">'
                + dialogObj.OkData.Label + '</button>'
                + '</div></div></div>';

            $("body").append($(dialog));
        };

        function DisplayInfoConfirmationDialog(dialogObj) {
            ConfirmationObj = null;
            ConfirmationObj = dialogObj;
            var dialog = '<div id="display_infoconfirm" class="logout_div"> <div class="row"><div class="col-md-12 text-center mb-3" >'
                + ((dialogObj.Message !== '') ? dialogObj.Message : '') + '</div>'
                + '</div><div class="col-md-12 text-center"><button class="btn btn-primary" onclick="OnButtonClickedConfirmOk(); return false;">'
                + dialogObj.OkData.Label + '</button>'
                + '</div></div></div>';

            $("body").append($(dialog));
        };

        function OnButtonClickedConfirmOk() {
            okObj = ConfirmationObj;
            switch (okObj.CallFrom) {
                case "SignOut":
                    TriggerSignOut();
                    break;
                case "DeleteUser":
                    TriggerDeleteUser(okObj.OkData.Data);
                    break;
                case "ChangeUserActiveStatus":
                    TriggerChangeUserActiveStatus(okObj.OkData.Data);
                    break;
                case "DeleteRole":
                    TriggerDeleteRole(okObj.OkData.Data);
                    break;
                case "BodyClick":
                    TriggerSignOut();
                    break;
            }
            $("#display_message1").remove();
        }

        function OnButtonClickedConfirmCancel() {
            cancelObj = ConfirmationObj;
            switch (cancelObj.CallFrom) {
                case "SignOut":
                    break;
            }
            $("#display_message1").remove();
        }
        jQuery(function ($) {

            $("#close-sidebar").click(function () {
                $(".page-wrapper").removeClass("toggled");
            });
            $("#show-sidebar").click(function () {
                $(".page-wrapper").addClass("toggled");
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
