@model BOS.StarterCode.Models.ChangePassword

@{
    ViewData["Title"] = "ResetPassword";
}


<h1 style="margin-left: 10px; margin-top: 10px;">@(ViewBag.Set == "true" ? "Set" : "Reset") Password</h1>
<hr />

<div class="row" id="divPageBase">
    <div class="col-md-4" id="divPasswordBase">
        <main style="margin-left: 5%">
            @if (ViewBag.UserId != null)
            {
                <form asp-action="ResetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group none">
                        <label asp-for="UserId" class="control-label"></label>
                        <input asp-for="UserId" class="form-control" value="@ViewBag.UserId" />
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" id="newPassword" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>

                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div id="meter_wrapper">
                                            <div id="meter"></div>
                                        </div>
                                    </td>
                                    <td> <div id="pass_type"></div></td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @if (ViewBag.Set != null && ViewBag.Set == "true")
                        {
                            <input type="submit" value="Set Password" class="btn btn-primary" />
                        }
                        else
                        {
                            <input type="submit" value="Reset Password" class="btn btn-primary" />
                        }
                    </div>
                </form>
            }
            else if (ViewBag.Message != null)
            {
                <h3>@ViewBag.Message</h3>
            }
        </main>
    </div>
</div>

@{
    if (ViewBag.SuccessMessage != null)
    {
        <h3>@ViewBag.SuccessMessage</h3>
        <p>@Html.ActionLink("Go back to Login", "GotBackToLogin")</p>

        <script>
            $("#divPasswordBase").remove();
        </script>
    }
}
<style>
    .field-validation-error {
        color: red;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        $("#newPassword").keyup(function () {
            CheckPasswordStrength();
        });
    });
</script>

<style>
    #meter_wrapper {
        margin-top: 20px;
        width: 200px;
        height: 15px;
        border-radius: 3px;
    }

    #meter {
        width: 0px;
        height: 15px;
        border-radius: 0;
    }

    #pass_type {
        font-size: 15px;
        margin-top: 20px;
        color: grey;
        margin-left: 10px;
    }
</style>
